* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flexbox;
}

h1 {
    text-shadow: 2px;
    font-size: 36px;
    color: rgb(8, 155, 240);
    text-align: center;
    text-decoration: underline;
}

h6 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px;
    text-decoration: overline;
}

.menu {
    border-radius: 22px;
    background-color: greenyellow;
    border-color: red;
    justify-content: center;
    align-items: center;
}
.lista {
    margin: 12px;
    padding-right: 20px;
    justify-items: flex-end;
    background-color: black;
    color: brown;
}

.sobre {
    color: blue;
    border: 5px solid brown;
    background-color: aqua;
}

.sobre1 {
    border: 12px solid gray;
    justify-content: flex-end;
    align-items: first baseline;
    justify-items: center;
}

.foto {
    border: 12px solid rebeccapurple;
    width: 145px;
    height: 145px;
}

.apresentacao {
    border: 3px solid red;
}

.aside{
    border: 8px solid blue;
}