* {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flexbox;
}

h1 {
    border: 10px solid rgb(255, 154, 154);
    text-shadow: 2px;
    font-size: 36px;
    color: rgb(8, 155, 240);
    text-align: center;
    text-decoration-style: dotted;
}

h6 {
    border: 12px solid rgb(37, 22, 22);
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px;
    text-decoration: overline;
}

.menu {
    border: 12px solid rgb(0, 0, 0);
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
}

.lista li {
    border:5px solid rgb(253, 249, 3);
    margin: 12px;
    padding-right: 20px;
    justify-items: center;
    background-color: rgb(248, 245, 245);
    color: brown;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    display: block;

}

.sobre {
    color: blue;
    border: 5px solid brown;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.sobre1 {
    display: flex;
    border: 12px solid gray;
    justify-content: flex-end;
    align-items: first baseline;
    justify-items: center;
}

.foto {
    border: 12px solid rebeccapurple;
    width: 145px;
    height: 145px;
}

.apresentacao {
    border: 3px solid red;
}

.aside{
    border: 8px solid blue;
}